*{
    font-family: arial;
 }


 .module-border-wrap{
    border: 5px solid;
    border-image: linear-gradient(45deg, black, gray) 1;
 }

 .module-border-wrap-pseudo{
    position: relative;
    padding: 10px 20px;
    background: #fff;
    margin: 5px;
    border-radius: 5px;
 }

   
 div[class=ar]{
    margin-top: 2%;
 }


/* Mahler */

img[class=Mahler]{
   
    margin-top: -8%;
    margin-left: 1%;
    border-radius: 100%;
   }

div[class=Mahler]{
    display: block;
   }

p[class=Mahler]{
    margin-left: 13%;
    margin-top: 2%;
    font-size: 32px;
}


p[class=Mahlerinfo]{
    margin-left: 13%;
    font-size: 90%;
    margin-top: -2%;
}

/* iPad */

@media screen and (max-width: 768px){

    img[class=Mahler]{
   
        margin-top: -17%;
        margin-left: 1%;
        border-radius: 100%;
       }
    
    div[class=Mahler]{
        display: block;
        
       }

    
    
    p[class=Mahler]{
        margin-left: 17%;
        margin-top: 3%;
        font-size: 32px;
    }
    
    
    
    p[class=Mahlerinfo]{
        margin-left: 18%;
        font-size: 90%;
        margin-top: -2%;
    }
    
}

/* iPad */




/* iPhone */

@media screen and (max-width: 600px){

 
    img[class=Mahler]{
   
        margin-top: -25%;
        margin-left: 1%;
        border-radius: 100%;
       }
    
    div[class=Mahler]{
        display: block;
       }
    
    p[class=Mahler]{
        margin-left: 35%;
        margin-top: 2%;
        font-size: 32px;
    }
    
    
    p[class=Mahlerinfo]{
        margin-left: 36%;
        font-size: 90%;
        margin-top: -2%;
    }
    
}

/* iPhone */

    




/* Mahler */
