
*{
    font-family: arial;
    
  }
  
  h2{
    font-size: 240%;  
  }
  
  
  div[class=as]{
    height: 250px;
    width: 98%;
    margin-top: 3%;
    border-radius: 25px;
  }
  
  div[class=ar]{
   font-size: 80%;
  }
  
  
  
  .module-border-wrap{
    border: 5px solid;
    border-image: linear-gradient(45deg, black, gray) 1;
  }
  
  .module-border-wrap-pseudo{
    position: relative;
    padding: 10px 20px;
    background: #fff;
    margin: 5px;
    border-radius: 5px;
    height: 100%;
  }
  
  /* img's config */
  
  img{
    border-radius: 100%;
    padding: 5%;
  }
  
  div[class=composersimages]{
    padding: 10%;
  }


  /* img's config */
  
  
  /* buttons */

  .btn{
    padding: 25px 20px 4px 20px;
    font-size: 110%;                  
    font-weight: 700px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn::after{
    content: '';
    height: 2px;
    width: 0%;
    background-color: #fff;
    display: block;
    transition: .5s ease-in-out;
}

.btn:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
}


  /* buttons */


/* iPad */
@media screen and (max-width: 768px){
  h1{
    font-size:30px;
  }

  h2{
    font-size: 25px;
  }

  div[class=composersimages]{
    margin-top: 10px;
  }

  div[class=module-border-wrap]{
    height: 250px;
  }

  div[class=as]{
    margin-top: 40px;
  }
}

/* iPad */

/* iPhone */

@media screen and (max-width: 600px){
   .btn{
       font-size: 17px;
       padding: 5px;
       margin-left: 6px;
       margin-top: 7px;
   }

   h1{
    font-size: 27px;
   }

   h2{
    font-size: 22px;
   }

   div[class=module-border-wrap]{
    height: 220px;
  }

   div[class=composersimages]{
    margin-top: 20px;
   }


}

/* iPhone */
  


  
